<div class='panel panel-default'>
    <div class='panel-body'>
        <div id='text-centered'>
            <h2>
                <strong id='text-info'>OpisP1PN</strong>
                <br>
                <h6>
                    opis production one - pordenone edition
                </h6>
            </h2>
            <p>
                <strong>
                    applicativo web per la gestione di ricevute e sottoscrizioni
                </strong>
            </p>
            <hr id='hr-grey'>
        </div>
        <p>
            <small>
                Analisi e programmazione :
            </small>
            <br>
            <strong>
                Davo Davosky
            </strong>
            <br>
            <br>
            <small>
                Consulenza fiscale e organizzativa :
            </small>
            <br>
            <strong>
                Cristina Gasparini
            </strong>
        </p>
        <hr id='hr-grey'>
        <p>
            <small>
                <strong>C.E.S.I. C.G.I.L. Friuli Venezia Giulia</strong> -
                Via Antonio Vidali,1 - 34129 Trieste (TS)
                E-Mail: assistenza@fvg.cgil.it Tel: +39 335 6633128
            </small>

        </p>
    </div>
</div>