<div class="panel panel-danger">
    <div class="panel-body">
        <dl class='dl-horizontal'>
            <div id="text-centered">
              <h3 id='text-danger'>
                Non sei il proprietario di questo record<br>
                in quanto non lo hai creato tu, pertanto<br>
                non lo puoi modificare.
              </h3>
            </div>
        </dl>
    </div>
</div>
