<div class='panel panel-default'>
  <div id='text-centered'>
    <br>
    <%= inline_svg('main_logo.svg', size: '256px * 144px', preserve_aspect_ratio: 'xMaxYMax meet') %>
    <br>
    <br>
    <p>
      <h5>
        <strong>
          Opis dicta est coniux Saturni per quam<br>
          voluerunt Terram significare,<br>
          quia omnes opes Humano Generi Terra tribuit.
        </strong>
      </h5>
      <br>
      <br>
      <h6>
        <small>
          Si dice che Opi sia moglie di Saturno
          <br>
          tramite lei si esplica la Terra,<br>
          poich&egrave; la Terra distribuisce tutti i beni al genere Umano.
        </small>
      </h6>
    </p>
    <span class='pull-right'>
      <h6>
        <small>
          ... tratto ad Wikipedia
        </small>
      </h6>
    </span>
  </div>
</div>