<div class='row'>
  <div class='col col-lg-6 col-lg-offset-3'>
    <div class='panel panel-danger'>
      <div class='panel panel-body'>
        <h3 id='text-centered'>
          <strong id='text-danger'>
            Annullata!
          </strong>
        </h3>
        <p id='text-centered'>
          Non puoi pi&ugrave; modificare la ricevuta corrente in quanto &egrave; stata annullata.
        </p>
      </div>
    </div>
  </div>
</div>
