<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <%= inline_svg('icon_uvl.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
            &nbsp;Ufficio Vertenze e Legale&nbsp;<strong id='text-primary'>&nbsp;
                <%= fa_icon('pencil') %>&nbsp;Nuova Sottoscrizione:</strong>
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left') + '  ' + ' Ritorna all\'elenco', uvl_subscriptions_path, class: 'btn btn-default btn-sm' %>
            </span>
        </h4>
        <hr id='hr-grey'>
        <%= render 'form' %>
    </div>
</div>